*{
	margin: 0;
    padding: 0;
    font-family: copperplate gothic bold;
}

body{
	background: #556B2F;
}
.logo{
	color: #556B2F ;
	background: #DAA520;
	text-align: center;
	padding: 15px;
	font-size: 30px;
}

.menu{
	color: #556B2F ;
	background: #DAA520;
	text-align: center;
	padding: 15px;
}

h2{
	color: #B0C4DE;
	text-align: center;
	padding: 20px;
	font-size: 40px;
	margin: 20px;

}

a{
    text-decoration: none;
}
a:link, a:visited {
    color: #556B2F;
    padding: 8px;
}

a:hover{
    color: #DAA520;
    background-color: #556B2F;
}

img{
   display: block;
   margin: 10px auto;
   border-radius: 30px;
}

p{
	text-align: center;
	margin: 30px;
	padding: 10px;
	color: #4F4F4F ;
	font-size: 20px;
	background: #B0C4DE;
}

.rodape{
	text-align: center;
	margin: 30px;
	padding: 10px;
	color: #4F4F4F ;
	font-size: 20px;
	background: #DAA520;
}